<form action="">
    <div class="form-group">
        <input id="input" type="text" name="form-control" placeholder="Search github username" [(ngModel)]="username" name="username" (keyup)="findRepo()">
    </div>
</form>
<div class="row">
    <div class="col-sm-4" id="details">
        <div *ngIf="users">
            <h2>@{{users.login}}</h2>
            <img src="{{users.avatar_url}}" alt="profile pic">
            <a class="btn btn-success btn-sm" target="_blank" href="{{users.html_url}}">Go to {{users.login}}'s github page</a>
            <h4>Followers: {{users.followers}}</h4>
            <h4>Following: {{users.following}}</h4>
            <h4 *ngIf="users.email">{{users.email}}</h4>
            <h3>Bio</h3>
            <h4 *ngIf="users.bio">{{users.bio}}</h4>
            <h4 *ngIf="users.company">Works at {{users.company}}</h4>
            <h4 *ngIf="users.hireable">Available for hire: {{users.hireable}}</h4>
            <h4 *ngIf="users.public_repos">Public repos: {{users.public_repos}}</h4>
        </div>
    </div>
    <div class="col-sm-8" id="repos">
        <h2>Repos</h2>
        <div *ngFor="let repo of repos">
            <h5>{{repo.name}}</h5>
            <p>
                <a class="btn btn-warning btn-lg" target="_blank" href="{{repo.html_url}}">{{repo.name}} </a>
            </p>
            <p>{{repo.description}}</p>
        </div>
    </div>
</div>