img {
    border-radius: 50%;
    width: 40%;
    margin: 20px;
}

#details {
    text-align: center;
}

a {
    margin: 10px;
}

#repos {
    text-align: center;
}

input {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    box-sizing: border-box;
}

h2 {
    color: brown;
}

h3 {
    color: tan;
}